# Sepolia RPC that Anvil forks from (Alchemy, Infura, ...)
SEPOLIA_FORK_RPC=https://eth-sepolia.g.alchemy.com/v2/<key>
# Local services. The browser reaches them through Nuxt's dev proxy (/rpc, /bundler)
RPC_URL=http://127.0.0.1:8545
BUNDLER_URL=http://127.0.0.1:4337
